Sprint2/flows/flows(2).json
[
    {
        "id": "de54838244a4e654",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Température extérieure",
        "topic": "STDS/2/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8a4959eff5d9447d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "0c65abc9ca13c215"
            ]
        ]
    },
    {
        "id": "7f5871582904319f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "8bebc69b9ae5d080",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 500,
        "wires": [
            [
                "8594352eadebeb75"
            ]
        ]
    },
    {
        "id": "8594352eadebeb75",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "CreateTable",
        "query": "CREATE TABLE donnee(\n    id SERIAL PRIMARY KEY,\n    t1 double precision null,\n    t2 double precision null,\n    CO2 double precision null,\n    PUISSANCE int null,\n    ANOMALIE character varying null\n);\nSELECT CREATE_HYPERTABLE('donnee', 'id', chunk_time_interval => 20)",
        "postgreSQLConfig": "6cc4c6764c7d86c9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5438d895169554b0",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "Insert value",
        "query": "INSERT INTO donnee VALUES();",
        "postgreSQLConfig": "c5325b400aab4824",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 730,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0c65abc9ca13c215",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 460,
        "wires": [
            [
                "7f5871582904319f"
            ]
        ]
    },
    {
        "id": "940c62eaf6311ba7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a4959eff5d9447d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6cc4c6764c7d86c9",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "timescaledb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "timescale",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    },
    {
        "id": "c5325b400aab4824",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "timescaledb",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "timescale",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    }
]